<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir la raíz a frontend/index.html
    RewriteRule ^$ frontend/index.html [L]

    # Si el archivo o directorio no existe en la raíz, enrutamos internamente a frontend/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ frontend/$1 [L]
</IfModule>
